body{
    background-color: white;

}
h1{
    text-align: center;
    margin-top: 10%;
    padding: 2px;


    background-color:white ;
    border-width: 25px;
    border-color: yellow;
    border-style: outset;


}
.about{

    text-align: center;
    background-color: antiquewhite;
    border-width: 10px;
    border-color: beige;
    border-style: outset;
    text-decoration: double;

}
#div1{
    background-color:yellow ;
}
video{
    width: 50%;
    height: 30%;
    display: block;
    margin: auto;
    margin: 0 auto;
}